    <footer class="bg-light py-4 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>О проекте</h5>
            <p>Социальная сеть для людей с ограниченными возможностями здоровья.</p>
          </div>
          <div class="col-md-4">
            <h5>Контакты</h5>
            <ul class="list-unstyled">
              <li><a href="mailto:support@example.com">support@example.com</a></li>
              <li><a href="tel:+78001234567">8 (800) 123-45-67</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Полезные ссылки</h5>
            <ul class="list-unstyled">
              <li><a href="№">Политика конфиденциальности</a></li>
              <li><a href="№">Пользовательское соглашение</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
